spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop;
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
#          show_sql: true 얘는 sout로 남김
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug #로그를 debug로 남김
    org.hibernate.type: trace


